interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.x.com/2/users/me
  response:
    body:
      string: "{\"data\":{\"id\":\"149464644\",\"name\":\"NJ \u2699\uFE0F\",\"username\":\"fitdegen\"}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.160'
      content-disposition:
      - attachment; filename=json.json
      origin-cf-ray:
      - 9e0e81f70d6cd034-SEA
      perf:
      - '7402827104'
      x-access-level:
      - read-write
      x-rate-limit-limit:
      - '75'
      x-rate-limit-remaining:
      - '74'
      x-rate-limit-reset:
      - '1774281044'
      x-response-time:
      - '45'
      x-transaction-id:
      - 841539511375febe
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.x.com/2/users/me
  response:
    body:
      string: "{\"data\":{\"id\":\"149464644\",\"name\":\"NJ \u2699\uFE0F\",\"username\":\"fitdegen\"}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.160'
      content-disposition:
      - attachment; filename=json.json
      origin-cf-ray:
      - 9e0e869b0b0c2725-SEA
      perf:
      - '7402827104'
      x-access-level:
      - read-write
      x-rate-limit-limit:
      - '75'
      x-rate-limit-remaining:
      - '73'
      x-rate-limit-reset:
      - '1774281044'
      x-response-time:
      - '38'
      x-transaction-id:
      - fd282d1f84c5a009
    status:
      code: 200
      message: OK
version: 1
