interactions:
- request:
    body: '{"text": "E2E seed for reply test (x) 1774419224. Safe to delete. #xtest"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.x.com/2/tweets
  response:
    body:
      string: '{"data":{"edit_history_tweet_ids":["2036687961606291647"],"text":"E2E
        seed for reply test (x) 1774419224. Safe to delete. #xtest","id":"2036687961606291647"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.160'
      content-disposition:
      - attachment; filename=json.json
      location:
      - https://api.x.com/2/tweets/2036687961606291647
      origin-cf-ray:
      - 9e1bc578780ad03e-SEA
      perf:
      - '7402827104'
      x-access-level:
      - read-write
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '99'
      x-rate-limit-reset:
      - '1774420124'
      x-response-time:
      - '118'
      x-transaction-id:
      - 6516972fcb6cf23c
    status:
      code: 201
      message: Created
- request:
    body: '{"text": "E2E reply to 2036687961606291647 (x) 1774419224. Safe to delete.
      #xtest", "reply": {"in_reply_to_tweet_id": "2036687961606291647"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.x.com/2/tweets
  response:
    body:
      string: '{"data":{"edit_history_tweet_ids":["2036687963216924891"],"id":"2036687963216924891","text":"E2E
        reply to 2036687961606291647 (x) 1774419224. Safe to delete. #xtest"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.160'
      content-disposition:
      - attachment; filename=json.json
      location:
      - https://api.x.com/2/tweets/2036687963216924891
      origin-cf-ray:
      - 9e1bc57abda42731-SEA
      perf:
      - '7402827104'
      x-access-level:
      - read-write
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '98'
      x-rate-limit-reset:
      - '1774420124'
      x-response-time:
      - '141'
      x-transaction-id:
      - 156fe6fd332c0ff6
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.x.com/2/tweets/2036687963216924891
  response:
    body:
      string: '{"data":{"deleted":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.160'
      content-disposition:
      - attachment; filename=json.json
      origin-cf-ray:
      - 9e1bc5d71f51d01f-SEA
      perf:
      - '7402827104'
      x-access-level:
      - read-write
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1774420139'
      x-response-time:
      - '39'
      x-transaction-id:
      - 6ddbcba5a140cf4f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.x.com/2/tweets/2036687961606291647
  response:
    body:
      string: '{"data":{"deleted":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.160'
      content-disposition:
      - attachment; filename=json.json
      origin-cf-ray:
      - 9e1bc5d96967d023-SEA
      perf:
      - '7402827104'
      x-access-level:
      - read-write
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1774420139'
      x-response-time:
      - '37'
      x-transaction-id:
      - 2fc6392e6c507378
    status:
      code: 200
      message: OK
version: 1
