interactions:
- request:
    body: '{"text": "E2E thread part 1 (x). Safe to delete. #xtest"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.x.com/2/tweets
  response:
    body:
      string: '{"data":{"id":"2036104705676574804","text":"E2E thread part 1 (x).
        Safe to delete. #xtest","edit_history_tweet_ids":["2036104705676574804"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.160'
      content-disposition:
      - attachment; filename=json.json
      location:
      - https://api.x.com/2/tweets/2036104705676574804
      origin-cf-ray:
      - 9e0e82795fb0d018-SEA
      perf:
      - '7402827104'
      x-access-level:
      - read-write
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '91'
      x-rate-limit-reset:
      - '1774280444'
      x-response-time:
      - '135'
      x-transaction-id:
      - fd977d623296ee14
    status:
      code: 201
      message: Created
- request:
    body: '{"text": "E2E thread part 2 (x). Safe to delete. #xtest", "reply": {"in_reply_to_tweet_id":
      "2036104705676574804"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.x.com/2/tweets
  response:
    body:
      string: '{"data":{"edit_history_tweet_ids":["2036104707308212379"],"id":"2036104707308212379","text":"E2E
        thread part 2 (x). Safe to delete. #xtest"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.160'
      content-disposition:
      - attachment; filename=json.json
      location:
      - https://api.x.com/2/tweets/2036104707308212379
      origin-cf-ray:
      - 9e0e827baa4026c5-SEA
      perf:
      - '7402827104'
      x-access-level:
      - read-write
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '90'
      x-rate-limit-reset:
      - '1774280444'
      x-response-time:
      - '155'
      x-transaction-id:
      - 7eb5d9b366c9778b
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.x.com/2/tweets/2036104705676574804
  response:
    body:
      string: '{"data":{"deleted":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.160'
      content-disposition:
      - attachment; filename=json.json
      origin-cf-ray:
      - 9e0e82c37988d023-SEA
      perf:
      - '7402827104'
      x-access-level:
      - read-write
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '44'
      x-rate-limit-reset:
      - '1774280508'
      x-response-time:
      - '50'
      x-transaction-id:
      - 02bef2f0d99bdf72
    status:
      code: 200
      message: OK
- request:
    body: '{"text": "E2E thread part 1 (x) 1774280351. Safe to delete. #xtest"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.x.com/2/tweets
  response:
    body:
      string: '{"data":{"id":"2036105485452284139","edit_history_tweet_ids":["2036105485452284139"],"text":"E2E
        thread part 1 (x) 1774280351. Safe to delete. #xtest"}}'
    headers:
      api-version:
      - '2.160'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      location:
      - https://api.x.com/2/tweets/2036105485452284139
      perf:
      - '7402827104'
      x-access-level:
      - read-write
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '86'
      x-rate-limit-reset:
      - '1774280444'
      x-response-time:
      - '132'
      x-transaction-id:
      - 0614c94f94c2519a
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.x.com/2/tweets/2036105485452284139
  response:
    body:
      string: '{"data":{"deleted":true}}'
    headers:
      api-version:
      - '2.160'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7402827104'
      x-access-level:
      - read-write
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '41'
      x-rate-limit-reset:
      - '1774280508'
      x-response-time:
      - '39'
      x-transaction-id:
      - 2978843471d60a17
    status:
      code: 200
      message: OK
version: 1
