interactions:
- request:
    body: '{"text": "E2E test post from social-hook (x). Safe to delete. #xtest"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.x.com/2/tweets
  response:
    body:
      string: '{"data":{"id":"2036104619387150835","text":"E2E test post from social-hook
        (x). Safe to delete. #xtest","edit_history_tweet_ids":["2036104619387150835"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.160'
      content-disposition:
      - attachment; filename=json.json
      location:
      - https://api.x.com/2/tweets/2036104619387150835
      origin-cf-ray:
      - 9e0e81f8d8ded038-SEA
      perf:
      - '7402827104'
      x-access-level:
      - read-write
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '93'
      x-rate-limit-reset:
      - '1774280444'
      x-response-time:
      - '119'
      x-transaction-id:
      - 3336eb05f9cc7c65
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.x.com/2/tweets/2036104619387150835
  response:
    body:
      string: '{"data":{"deleted":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.160'
      content-disposition:
      - attachment; filename=json.json
      origin-cf-ray:
      - 9e0e823c0f87d01a-SEA
      perf:
      - '7402827104'
      x-access-level:
      - read-write
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '46'
      x-rate-limit-reset:
      - '1774280508'
      x-response-time:
      - '45'
      x-transaction-id:
      - a236d193e7e1f8a4
    status:
      code: 200
      message: OK
- request:
    body: '{"text": "E2E test post from social-hook (x) 1774280334. Safe to delete.
      #xtest"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.x.com/2/tweets
  response:
    body:
      string: '{"data":{"id":"2036105417005424674","text":"E2E test post from social-hook
        (x) 1774280334. Safe to delete. #xtest","edit_history_tweet_ids":["2036105417005424674"]}}'
    headers:
      api-version:
      - '2.160'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      location:
      - https://api.x.com/2/tweets/2036105417005424674
      perf:
      - '7402827104'
      x-access-level:
      - read-write
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '88'
      x-rate-limit-reset:
      - '1774280444'
      x-response-time:
      - '161'
      x-transaction-id:
      - d9e73108a3a7aa48
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.x.com/2/tweets/2036105417005424674
  response:
    body:
      string: '{"data":{"deleted":true}}'
    headers:
      api-version:
      - '2.160'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7402827104'
      x-access-level:
      - read-write
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '43'
      x-rate-limit-reset:
      - '1774280508'
      x-response-time:
      - '40'
      x-transaction-id:
      - bb2812b78ee2949d
    status:
      code: 200
      message: OK
version: 1
