interactions:
- request:
    body: '{"text": "E2E seed for quote test (x). Safe to delete. #xtest"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.x.com/2/tweets
  response:
    body:
      string: '{"detail":"You are not allowed to create a Tweet with duplicate content.","type":"about:blank","title":"Forbidden","status":403}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-version:
      - '2.160'
      content-disposition:
      - attachment; filename=json.json
      origin-cf-ray:
      - 9e0e82c57d5d270d-SEA
      perf:
      - '7402827104'
      x-access-level:
      - read-write
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '89'
      x-rate-limit-reset:
      - '1774280444'
      x-response-time:
      - '52'
      x-transaction-id:
      - 8d9f832a507d62f7
    status:
      code: 403
      message: Forbidden
- request:
    body: '{"text": "E2E seed for quote test (x) 1774280360. Safe to delete. #xtest"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.x.com/2/tweets
  response:
    body:
      string: '{"data":{"id":"2036105525944086811","edit_history_tweet_ids":["2036105525944086811"],"text":"E2E
        seed for quote test (x) 1774280360. Safe to delete. #xtest"}}'
    headers:
      api-version:
      - '2.160'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      location:
      - https://api.x.com/2/tweets/2036105525944086811
      perf:
      - '7402827104'
      x-access-level:
      - read-write
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '84'
      x-rate-limit-reset:
      - '1774280444'
      x-response-time:
      - '131'
      x-transaction-id:
      - addbd81b54168097
    status:
      code: 201
      message: Created
- request:
    body: '{"text": "E2E quote of 2036105525944086811 (x) 1774280360. Safe to delete.
      #xtest", "quote_tweet_id": "2036105525944086811"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.x.com/2/tweets
  response:
    body:
      string: '{"data":{"edit_history_tweet_ids":["2036105528024486000"],"id":"2036105528024486000","text":"E2E
        quote of 2036105525944086811 (x) 1774280360. Safe to delete. #xtest https://t.co/mNh1MI0kLV"}}'
    headers:
      api-version:
      - '2.160'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      location:
      - https://api.x.com/2/tweets/2036105528024486000
      perf:
      - '7402827104'
      x-access-level:
      - read-write
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '83'
      x-rate-limit-reset:
      - '1774280444'
      x-response-time:
      - '258'
      x-transaction-id:
      - 4b319964b6b91678
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.x.com/2/tweets/2036105528024486000
  response:
    body:
      string: '{"data":{"deleted":true}}'
    headers:
      api-version:
      - '2.160'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7402827104'
      x-access-level:
      - read-write
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '40'
      x-rate-limit-reset:
      - '1774280508'
      x-response-time:
      - '42'
      x-transaction-id:
      - c7da387cee656941
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.x.com/2/tweets/2036105525944086811
  response:
    body:
      string: '{"data":{"deleted":true}}'
    headers:
      api-version:
      - '2.160'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7402827104'
      x-access-level:
      - read-write
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '39'
      x-rate-limit-reset:
      - '1774280508'
      x-response-time:
      - '44'
      x-transaction-id:
      - 3599727ce7619ccd
    status:
      code: 200
      message: OK
version: 1
